.NavBar {
	position: fixed;
	height: 100%;
	width: 180px;
	margin-left: -200px;
	text-align: left;
	background-color: #006064;
	padding-top: 20px;
	padding-left: 20px;
	top : 40px;
	color: #fff;
	z-index: 4;
	overflow-x: hidden;
	transition: 0.5s;
}